body {
 margin: 0;
}
table, th, td{
 border: 1px solid black;
}
.h1{
border-bottom:2px solid;
text-align:center;
font-weight:500;
margin: 0;
width:100vw;
background-color:skyblue;
}
.p1{
margin-top: 0;
color:gray;
border-bottom:solid 2px;
}
.p2{
 width:100vw;
font-weight:500;
 background-color:red;
}
.img1{
width:100vw;height:50vw;
}

.img2{
  padding:2px;
 width:150px; height:170px;
  position:absolute;left:35%;top:80%;
}
 .p3{
  font-weight:800;
 }

.button1{
font-size:5px;
border-right:1px solid;
border-left:none;
border-top:none;
border-bottom:none;
background-color:skyblue;
color:black;
height:10vw;
width:24.7vw;
}
.button1:hover{
background-color:white;
}
.b1{
 width:100vw;height:10vw;background-color:skyblue;padding:0px;margin:0px;
}
.s1{
font-size:10px;
}

.ab{
text-decoration:none;
}
.dib{
position:absolute;top:50%;left:27%;
background-color:skyblue;
width:400px;
height:150px;
color:white;
font-weight:800;
padding:15px;
border-radius:10px;
text-align:center;
font-size:80px;
font-family:monospace;
}
