
body {
 margin: 0;
}
.h1{
font-size:50px;
font-weight:500;
text-align:center;
border-bottom:2px solid;
margin: 0;
width:100vw;
background-color:skyblue;
}
.p1{
margin-top: 0;
color:gray;
border-bottom:solid 2px;
}
.p2{
 width:100vw;
font-weight:500;
 background-color:red;
}
.img1{
width:100vw;height:50vw;
}
table, th, td{
 border: 1px solid black;
}
 .img2{
  padding:2px;
  width:95px; height:113px;
  position:absolute;left:70vw;top:70vw;
 }
 .p3{
  font-weight:800;
 }
.img3{
 width:1px;height:0px;
}

.button1{
border-right:1px solid;
border-left:none;
border-top:none;
border-bottom:none;
background-color:skyblue;
color:black;
height:5vw;
width:150px;
}
.button1:hover{
background-color:white;
}
.p4{
text-align:center;
font-weight:500;
font-size:30px;

}
.gnav {
    margin-let:150px;
    margin-top:0;
    margin-bottom:0;
    magin-right:0;
    display: flex;
    height: 2rem;
    width: 600px;
}
.gnav > li {/*親階層のみ幅を25%にする*/
    width: 25%;  
}
/*全てのリスト・リンク共通*/
.gnav li {
    list-style: none;
    position: relative;
}
.gnav li a {
    background: #001b34;
    border-right: 1px solid #eee;
    color: #fff;
    display: block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 150px;
}
.gnav li li {
    height: 0;
    overflow: hidden;
    transition: .3s;
}
.gnav li li a {
    border-top: 1px solid #eee;
}
.gnav li:hover > ul > li {
    height: 2rem;
    overflow: visible;
}
.ul1{
border-top:1px solid;
border-bottom:1px solid;
border-left:none;
border-right:none;
width:100vw;
height:2.1rem;
background-color:skyblue;
}

