
body {
 margin: 0;
}
.h1{
margin-top: 0;
width:100vw;
background-color:skyblue;
}
.p1{
margin-top: 0;
color:gray;
border-bottom:solid 2px;
}
.p2{
 width:230px;
font-weight:500;
 background-color:red;
}
.img1{
width:100vw;height:50vw;
}
table, th, td{
 border: 1px solid black;
}
  .img3{
   padding:2px;
   width:100px; height:200px;
  }
 .p3{
  font-weight:800;
 }
