body {
    font-family:monospace;
}
.div2{
    padding-top:20px;
    width:100vw;
    display:flex;
    border-bottom:1px solid;
}
.ex{
    float:left;
}
.imgg{
  width:250px;height:50px;
}
  .top{
      position:absolute;left:75%;top:7%;
  }

.top div{
    color:black;
    display:inline-block;
    padding-left:5px;
}
.top a{
    text-decoration:none;
    color:black;
}
.top div:hover{
    font-weight:600;
}

.h1{
 padding-left:100px;
}
.buy{
 display:flex;
}
.buy1{
    text-align:center;
    height:30px;
    width:100px;
    position:absolute;left:180px;
    margin-top:10px;
    color:white;
    font-size:20px;
    font-weight:600;
    border:1px solid white;
    background-color:#FFCC66;
}
.buy1:hover{
    color:black;
    border-color:black;
}
.div1{
    padding:5px;
    background-color:#FFCC66;
    height:225px;
}
.div3{
    padding:5px;
    background-color:#E0FFFF;
}
.div4{
    padding:5px;
    background-color:#F0FFF0;
}
.div5{
    padding:5px;
    background-color:#FFCC66;
}
.div6{
    padding:5px;
    background-color:#E0FFFF;
}
.div7{
    padding:5px;
    background-color:#F0FFF0;
}.div8{
    padding:5px;
    background-color:#FFCC66;
}
.div9{
    padding:5px;
    background-color:#E0FFFF;
}
.div10{
    padding:5px;
    background-color:#F0FFF0;
}
.p1{
    margin:10px;
    padding-left:5px;
    font-size:25px;
    border-left:10px solid;
}
.all{
    width:100vw;
}
@media screen and (max-width:376px){
 .pp1{
   position:absolute;left:35%;top:50%;
   font-size:200px;
 }
}
.pp2{
    position:absolute;left:35%;top:60%;
    font-size:20px;
}
.pp3{
    position:absolute;left:35%;top:90%;
    font-size:20px;
}
.pp4{
    position:absolute;left:20%;top:130%;
    font-size:20px;
}
.pp5{
    position:absolute;left:20%;top:160%;
    font-size:20px;
}
.pp6{
    position:absolute;left:20%;top:190%;
    font-size:20px;
}
.pp7{
    position:absolute;left:35%;top:230%;
    font-size:20px;
}
.pp8{
    position:absolute;left:25%;top:260%;
    font-size:20px;
}
.pp9{
    position:absolute;left:20%;top:260%;
    font-size:20px;
}
.pp10{
    position:absolute;left:20%;top:290%;
    font-size:20px;
}
